body,html{
    background-color: rgb(214, 209, 209);
    margin: 0;
    padding: 0;
    min-height: 100%;
}

/* container of the container of the links */
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
}

/* container of the links */
li {
    float: left;
}

/* changes color on hover */
li:hover{
    background-color: black;
}

/* links */
a {
    font-size: 18px;
    color: white;
    text-decoration: none;
}

li a {
    display: block;
    padding: 14px 16px;
}

/* highlights the active tab in green */
.activeTab{
    background-color: rgb(12, 88, 12);
}

/* text in the about page */
#content{
    margin: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 0px;
    padding-top: 120px;
    padding-bottom: 0px;
    font-size: 20px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* container of the banner and link nav bars*/
#topbar{
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
}

/* could design a new quant club logo and put the image file on this banner instead of <h1> */
#banner{
    display: flex;
    justify-content: space-around;
    background-color: rgb(64, 66, 66);
}

/* banner title */
#title{
    color: rgb(160,30,30);
    text-align: center;
    flex: 1;
}

/* instagram picture */
#insta{
    width: 30px;
    height: 30px;
}

/* anchor that contains the picture and link to IG */
#igContainer{
    margin-right:50px;
    display: flex;
    align-items: center;
}

/* test TI chart */
#chart{
    margin-top: 120px;
    width: 100%;
    height: 750px;
}